.list-content{
	float: left;
	width: 200px;
	height: 300px;
	padding-left: 15px;
	padding-top: 5px;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid #eaeaea;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.list-content img{
	width: 180px;
	height: 280px;
}
.inner{
	width: 680px;
	
	float: left;
	margin-left: 20px;
}
.schedule ul{
	border-bottom: 1px dotted #eaeaea;
}
.schedule ul li{
	display: inline-block;
	margin-left: 70px;
}
.schedule ul li:first-child{
	margin-left: 5px;
	width: 100px;
}

.schedule ul li p:first-child{
	color: green;
}