.list-content{
	float: left;
	width: 200px;
	height: 300px;
	padding-left: 15px;
	padding-top: 5px;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid #eaeaea;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.list-content img{
	width: 180px;
	height: 280px;
}
.inner{
	width: 680px;
	
	float: left;
	margin-left: 20px;
}
.schedule ul{
	border-bottom: 1px dotted #eaeaea;
}
.schedule ul li{
	display: inline-block;
	margin-left: 70px;
}
.schedule ul li:first-child{
	margin-left: 5px;
	width: 100px;
}

.schedule ul li p:first-child{
	color: green;
}
.testDiv{
	width: 600px;
	height: 500px;
	left:50%;
	top: 50%;
	margin: -300px 0 0 -250px;
	background-color: #eaeaea;
	border: 1px solid black;
	display: none;
	position: absolute;
	z-index: 100;
}
.testDiv ul{
	margin: 0px auto;
	padding: 0;
}
.testDiv ul li{
	width: 20px;
	height: 20px;
	margin: 4px;
	background-color: green;
	display: inline-block;
	list-style-type: none;
	text-align: center;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.testDiv ul li:hover{
	background-color: gold;
}